@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Bold;
	src: url("/public/fonts/UniSansHeavy.otf");
}

@font-face {
	font-family: Thin;
	src: url("/public/fonts/UniSansThin.otf");
}

html {
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}

input,
textarea {
	@apply border-2 border-gray-300 outline-none rounded-md bg-slate-100 text-black  px-1 w-full mb-2;
}
input:focus,
textarea:focus {
	@apply border-orange;
}

.h1 {
	@apply text-orange text-lg;
}
.h2 {
	@apply text-lg font-semibold;
}

.btn-primary {
	@apply px-6 py-2 bg-orange rounded-md font-bold;
}
table.basic {
	@apply w-full;
}

table.basic tr {
	@apply border border-black w-full p-1;
}
table.basic td {
	@apply py-2 pl-2;
}
table.basic thead > tr > td {
	@apply bg-gray-950;
}
table.basic tbody > tr > td {
	@apply border-black w-full;
}

table.basic thead {
	@apply bg-gray-800;
}

table.basic a {
	@apply px-5 py-2 rounded-md gap-1 font-semibold inline-flex;
}

.h1 {
	@apply items-center px-2 m-4 max-w-[500px] ml-auto mr-auto font-semibold;
}

/* ---------------------------//------------------------------------ */

.btn-primaryy {
	@apply px-6 py-2 bg-white text-black font-poppins font-semibold rounded-md mx-2 hover:bg-black hover:text-white transition-all duration-300 border;
}
.btn-primaryy-mobile {
	@apply px-2 py-0 bg-white text-black font-poppins font-medium rounded-md  transition-all duration-300 border;
}

.btn-secondary {
	@apply px-6 py-2 bg-orange text-white font-poppins font-semibold text-lg rounded-md mx-2 hover:bg-black hover:text-white transition-all duration-300;
}

.btn-secondary-mobile {
	@apply px-4 py-1 bg-orange text-white font-poppins font-semibold rounded-md mx-2 hover:bg-black hover:text-white transition-all duration-300;
}

.btn-third {
	@apply sm:px-3 px-2 py-1 sm:py-1 bg-white sm:text-base text-sm text-black font-poppins font-semibold sm:font-semibold rounded-md hover:bg-orange hover:text-white transition-all duration-300;
}

.hover {
	@apply hover:text-orange transition-all duration-300;
}
.footer-card {
	@apply w-full  text-sm  sm:text-base lg:mx-2 mx-4;
}
.footer-card > h1 {
	@apply text-orange font-bold mt-4 mb-2;
}

.information h1 {
	@apply mt-8 mx-4 md:mx-0 text-left text-gray-900 text-xl font-bold;
}
.information p {
	@apply text-lg mt-6 mx-4 md:mx-0 text-left font-medium text-gray-800;
}
