@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Bold;
	src: url("/public/fonts/UniSansHeavy.otf");
}

@font-face {
	font-family: Thin;
	src: url("/public/fonts/UniSansThin.otf");
}

html {
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}

input,
textarea {
	@apply border-2 border-gray-300 outline-none rounded-md bg-slate-100 text-black px-1 ml-1 w-full mb-2;
}
input:focus,
textarea:focus {
	@apply border-orange;
}

h1 {
	@apply text-orange text-lg;
}

.btn-primary {
	@apply px-6 py-2 bg-orange rounded-md font-bold;
}
table.basic {
	@apply w-full;
}

table.basic tr {
	@apply border border-white p-1;
}
table.basic td {
	@apply py-2;
}

table.basic a {
	@apply px-5 py-2 rounded-md gap-1 font-semibold inline-flex;
}
